:root {
	--darkgray: #4a4a4a;
	--mainpurple: #b9b9d5;
	--white: white;
	--pink: #ff8aa1;
	--mainpink: #fff5f7;
	--green: #bce2d5;
	--transition: 250ms ease-out;
	--footercolor: #e6eff5;
}

* {
	box-sizing:  border-box;
	margin:  0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
	color: var(--darkgray);
	font-weight: 800;
	font-style: normal;
	font-size: 25px;
}

html {
  scroll-behavior: smooth;
}

body {
	background-color: var(--mainpink);
}

footer {
	background-color: #2e2e34;
	padding-top: 100px;
	padding-left: 200px;
	padding-bottom: 50px;
	display: flex;
}
/*FONTS*/
.lora {
	font-family: 'Lora', serif;
	font-size: 50px;
	color: white;
	float: left;
	padding-bottom: 20px;
}

.zilla {
		font-family: 'Zilla Slab', serif;
		font-weight: 800;
		font-style: normal;
		font-size: 80px;
		color: var(--pink);
	}

.mont {
	font-family: 'Montserrat', sans-serif;
	color: var(--darkgray);
	font-weight: 800;
	font-style: normal;
	font-size: 30px;
}

.border {
	padding-top: 300px;
	padding-left: 200px;
	padding-bottom: 300px;
}

/*FOOTER*/
#footer-1 {
	padding-left: 90px;
	width: 25%;
	height: 50%;
	color: white;
}

#footer-2 {
	padding-left: 200px;
	width: 25%;
	height: 50%;
	color: white;
}
#footer-3 {
	padding-top: 400px;
	opacity: 70%;
	color: white;
	font-size: 20px;
}
.white-font {
	color: var(--pink);
	line-height: 1.5;
	text-decoration: none;
}
.white-font:hover {
	color: white;
	line-height: 1.5;
	text-decoration: none;
}

/*QUICK COMMANDS*/
.social-media {
	font-size: 50px;
	color: white;
	width: 60px;
}
.width {
	width: 800px;
}

.width-1 {
	width: 600px;
	line-height: 1.5;
	text-align: justify;
}
.construction {
	padding-left: 150px;
}
#arrow {
	color: var(--darkgray);
	padding-top: 150px;
	padding-left: 550px;
	font-size: 40px;
}

.holographic-gradient {
	background-image: linear-gradient(to bottom right, #ced9ed, #cfc7fa, #e2c6ee, #efc8dd, #d7e9db);
}

.holographic-gradient-semi {
	background-image: linear-gradient(to bottom right, #cdf7fd, #cdedfd, #cde4fd, #cddafd, #cdcefd);
}
#about-image {
	padding-top: 300px;
	padding-left: 90px;
	width: 65%;
	height: 90%;
}
#about-desc {
	padding-left: 90px;
}
.flexbox {
	display: flex;
}
.flexbox {
	display: flex;
	flex-wrap: wrap;
}

.arrow1 {
	color: var(--darkgray);
}
.arrow1:hover {
	transform: scale(1.1);
  animation-name: linkedin-icon;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes arrow-icon {
  100% {
    background-color: #0077B5;
    color: white;
  }
}
/*NAVIGATION BAR*/
.nav-container {
	width: 100%;
	background-color: var(--mainpink);
}
.navbar {
	display:  grid;
	grid-template-columns: 0.2fr auto 1fr;
	align-items: center;
	height: 80px;
	width: 90%;
	max-width: 1720px;
	margin:  0 auto;
	/*justify-items: center;*/
}

/*SMOOTH ROTATE*/
.rotate:hover {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#navbar-logo {
	color: var(--darkgray);
	justify-self: start;
	margin-left: -40px;
	margin-top: 20px;
}

#navbar-logo {
	cursor: pointer;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(3, auto);
	list-style-type: none;
	text-align: center;
	width: 27%;
	justify-self: end;
}

.nav-links {
	color: var(--darkgray);
	text-decoration: none;
	font-family: 'Unica One', cursive;
	font-weight: 800;
	font-style: normal;
	font-size: 27px;
}

.nav-links:hover {
	color: var(--pink);
	transition: var(--transition);
} 

.nav-links-btn {
	background-color: var(--pink);
	padding: 6px 10px;
	border-radius: 4px;
}

.nav-links-btn:hover {
	background-color: transparent;
	color: white;
	padding: 5px 15px;
	border-radius: 4px;
	border: solid 1px var(--green);
	transition: var(--transition);
}

.menu-toggle .bar {
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: var(--transition);
	background: var(--pink);
}

@media screen and (max-width: 768px) {
	.nav-container {
		position:  relative;
	}

	.nav-menu {
		display:  grid;
		grid-template-columns: auto;
		background: var(--pink);
		margin: 0;
		width:  100%;
		position: absolute;
		top: 180px;
		left: -100%;
		opacity: 0;
		transition: all 0.5s ease;
	}

	#navbar-logo {
		margin-left: 20px;
	}

	.nav-menu.active {
		background: var(--pink);
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-links {
		text-align: center;
		line-height: 60px;
		width: 100%;
		display: table;
	}

	.nav-links:hover {
		background-color: var(--pink);
		color: white;
		transition: all 0.4s ease-out;
	}

	.navbar {
		width: 100%;
	}
	
	.nav-links-btn {
		border: none;
		padding: 0;
		border-radius: 0;
		background-color: #b9c9c4;
		color: var(--mainpink);
		transition: all 0.4s ease-out;
	}

	.nav-link-btn:hover {
		border: none;
		padding: 0;
		border-radius: 0;
		background-color: var(--pink);
		color: white;
		transition: all 0.4s ease-out;
	}

	#mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
	}

	.menu-toggle .bar {
		display: block;
		cursor: pointer;
	}
	.menu-toggle:hover {
		cursor:  pointer;
	}
	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}
	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}



