/*MAIN*/

:root {
/*main color palette*/
	--cream: #F2D0BD;
	--lightpink: #F29C94;
	--darkpink: #F27777;
	--sage: #5C736C;
	--brown: #40282E;
	--lightgreen: #708C84;
/*secondary colors*/
	--white: #FFFFFF;
	--black: #000000;
	--green: #BFF28D;
	--lightblue: #056CF2;
	--darkblue: #0554F2;
	--pink: #F279BC;
}

body {
	background-color: var(--cream);
	font-family: 'Lato', sans-serif;
	padding: 0px;
  margin: 0px;
	color: var(--white);
}

html {
  scroll-behavior: smooth;
}

/*SECTION 1*/
.heading {
	padding-top: 600px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 70px;
	font-family: 'Zilla Slab', serif;
	color: var(--darkpink);
	font-size: 64px;
}

.elipse-1 {
	position: absolute;
	width: 445px;
	height: 430px;
	left: 520px;
	top: 155px;
	border-radius: 50%;
	background: #FFFFFF;
	margin-top: 50px;
}

.elipse-1:hover {
	position: absolute;
	width: 445px;
	height: 430px;
	left: 520px;
	top: 155px;
	border-radius: 50%;
	background-image: url(picture-1.png);
	background-size: 450px;
	margin-top: 50px;
}

#arrow {
	color: var(--white);
	padding-top: 150px;
	padding-left: 550px;
	font-size: 40px;
}

/*SPOON*/
#lato-1 {
	position: absolute;
	width: 1062px;
	height: 53px;
	font-family: Lato;
	font-style: italic;
	font-weight: 500;
	font-size: 36px;
	line-height: 50px;
	margin-top: 15px;
	color: var(--white);
}

#spoon-image {
	width: 511px;
	height: 638px;
	margin-left: 120px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 10%;
}

#game-image {
	width: 511px;
	height: 638px;
	margin-left: 60px;
	margin-top: 50px;
	margin-bottom: 50px;

	border-radius: 10%;
}

#project-date {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	background-color: var(--sage);
	margin-top: 150px;
	margin-left: 70px;
}

#project-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 70px;
	background-color: var(--sage);
	margin-left: 70px;
}

#project-content {
	font-family: Inter;
	font-style: normal;
	font-weight: 300px;
	font-size: 24px;
	line-height: 33px;
	width: 630px;
	margin-left: 70px;
	margin-top: 7px;
	background-color: var(--sage);
}
/*KIRBY*/
#project-date-1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	background-color: var(--lightgreen);
	margin-top: 150px;
	margin-left: 120px;
}

#project-title-1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 70px;
	background-color: var(--lightgreen);
	margin-left: 120px;
}

#project-content-1 {
	font-family: Inter;
	font-style: normal;
	font-weight: 300px;
	font-size: 24px;
	line-height: 33px;
	width: 630px;
	margin-left: 120px;
	margin-top: 7px;
	background-color: var(--lightgreen);
}
.darkgreen-bg {
	background-color: var(--sage);
	display: flex;
	flex-direction: row;
}

.lightgreen-bg {
	background-color: var(--lightgreen);
	display: flex;
	flex-direction: row;
}
/*Navigation Bar */

.nav-container {
	width: 100%;
	background-color: var(--cream);
}

.navbar {
	display: grid;
	grid-template-columns: 0.2fr auto 1fr;
	align-items: center;
	height: 80px;
	width: 93%;
	max-width: 1720px;
	margin: 0 auto;
}

#navbar-logo {
	color: var(--white);
	justify-self: start;
}

#navbar-logo {
	cursor: pointer;
}
#navbar-logo-2 {
	color: var(--white);
	justify-self: start;
	cursor: pointer;
}
#navbar-logo-3 {
	color: var(--white);
	justify-self: start;
	cursor: pointer;
}
#logo-image {
	width: 150px; 
	height: 150px; 
}
#navbar-logo-2:hover {
  animation: rotation 10s infinite linear;
}
.rotate:hover {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes navbar-logo-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(2, auto);
	list-style: none;
	text-align: center;
	width: 20%;
	justify-self: end;
}

.nav-links {
	color: var(--white);
	text-decoration: none;
	font-family: 'Unica One', bold;
	font-size: 30px;
	padding-right: 20px;
}

.nav-links:hover {
	color: var(--darkpink);
	transition: all 0.2s ease-out;
}

.nav-links-btn {
	background-color: var(--darkpink);
	padding: 6px 16px;
	border-radius: 4px;
}

.nav-links-btn:hover {
	background-color: transparent;
	color: var(--white);
	padding: 5px 15px;
	border-radius: 4px;
	border: solid 1px var(--darkpink);
	transition: all 0.3s ease-out;
}

.menu-toggle .bar{
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	background: var(--white);
}
/*SMOOTH ROTATE*/
.rotate:hover {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/*About*/
#about-heading {
	padding-top: 70px;
	padding-left: 200px;
	font-family: 'Zilla Slab', serif;
	color: var(--darkpink);
	font-size: 64px;
	position: absolute;
}
#about-p1 {
	padding-top: 225px;
	padding-left: 200px;
	width: 600px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	}
#about-p2 {
	padding-top: 510px;
	padding-left: 200px;
	width: 600px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}
#question {
	position: absolute;
	width: 455px;
	height: 84px;
	left: 235px;
	top: 490px;
	font-family: Six Caps;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 84px;
	text-align: center;
}
#rectangle-1 {
	position: absolute;
	width: 524px;
	height: 117px;
	left: 200px;
	top: 480px;
	background: var(--lightpink);
	border-radius: 50px;
}
#rectangle-2 {
	position: absolute;
	width: 524px;
	height: 117px;
	left: 250px;
	top: 530px;
	background: var(--sage);
	border-radius: 50px;
}
#rectangle-3 {
	position: absolute;
	width: 524px;
	height: 219px;
	left: 196px;
	top: 730px;
	background: var(--sage);
	border-radius: 50px;
}
#rectangle-4 {
	position: absolute;
	width: 524px;
	height: 219px;
	left: 250px;
	top: 680px;
	background: var(--lightpink);
	border-radius: 50px;
}
#question-1 {
	position: absolute;
	width: 431px;
	height: 180px;
	left: 295px;
	top: 700px;
	font-family: Source Serif Pro;
	font-size: 36px;
	line-height: 45px;
	text-align: center;
}
#about-image {
	position: absolute;
	width: 440px;
	height: 565px;
	left: 862px;
	top: 300px;
	right: 295px;
	background: url(101845394_3229571050440425_7232624505833652224_n.jpg);
	border-radius: 20px;
}
#about-image-2 {
	position: absolute;
	width: 440px;
	height: 370px;
	left: 862px;
	top: 940px;
	right: 295px;
	background: url(101845394_3229571050440425_7232624505833652224_n.jpg);
	border-radius: 20px;
}
/*FOOTER*/
#lora {
	font-family: Lora;
	/*font-style: italic;*/
	font-weight: normal;
	font-size: 50px;
	line-height: 33px;
	color: white;
	float: left;
	margin-top: 80px;
	margin-bottom: 20px;
	margin-left: 120px;
}

.brown-bg {
	margin-left: 120px;
	margin-bottom: 50px;
}

.brown-bg-1 {
	background-color: var(--brown);
	/*	text-align: center;*/
}

.about-brown-bg {
	background-color: var(--brown);
	margin-top: 50px;
	/*	text-align: center;*/
}
.footer-flexbox {
	display: flex;
	flex-direction: column;
}

.social-media {
	font-size: 40px;
	color: white;
	width: 50px;
}

#footer-1 {
	padding-left: 350px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 25%;
	height: 50%;
	font-size: 24px;
	color: white;
}
#footer-2 {
	padding-left: 170px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 25%;
	height: 50%;
	color: white;
	font-size: 24px;
	display: flex;
	flex-direction: column;
}
#footer-3 {
	opacity: 70%;
	color: white;
	font-size: 20px;
	text-align: center;
}
.white-font {
	color: var(--darkpink);
	line-height: 1.5;
	text-decoration: none;
	font-size: 24px;
}
.white-font:hover {
	color: white;
	line-height: 1.5;
	text-decoration: none;
	font-size: 24px;
}

.row-flexbox {
	display: flex;
	flex-direction: row;
}

/*under construction*/
#uc-border {
	margin-top: 50px;
	font-family: Lora;
	color: var(--darkpink);
	font-weight: 500;
	font-size: 60px;
	text-align: center;
}
#big-border {
	padding-top: 109px;
}
#flower-picture {
	text-align: center;
	margin-left: 650px;
	width: 15%;
}
@media screen and (max-width: 768px) {
	.nav-container {
		position: relative;
	}

	.nav-menu {
		display: grid;
		grid-template-columns: auto;
		background: var(--lightpink);
		margin: 0;
		width: 100%;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 0;
		transition: all 0.5s ease;
	}

	#navbar-logo {
		margin-left: 20px;
	}

	.nav-menu.active {
		background: var(--lightpink);
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-links {
		text-align: center;
		line-height: 60px;
		width: 90%;
		display: table;
	}

	.nav-links:hover {
		background-color: var(--lightpink);
		transition: all 0.4s ease-out;
	}

	.navbar {
		width: 100%;
	}

	.nav-links-btn {
		border: none;
		padding: 0;
		border-radius: 0;
		background-color: var(--darkpink);
		color: var(--white);
		transition: all 0.4s ease-out;
	}

	.nav-links-btn:hover {
		border: none;
		padding: 0;
		border-radius: 0;
		background-color: var(--lightpink);
		color: var(--white);
		transition: all 0.4s ease-out;
	}

	#mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
	}

	.menu-toggle .bar {
		display: block;
		cursor: pointer;
	}

	.menu-toggle:hover {
		cursor: pointer;
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	/*HEADING*/
	.elipse-1 {
	position: absolute;
	width: 445px;
	height: 430px;
	left: 150px;
	top: 155px;
	border-radius: 50%;
	background: #FFFFFF;
	margin-top: 50px;
	}
	.elipse-1:hover {
	position: absolute;
	width: 445px;
	height: 430px;
	left: 150px;
	top: 155px;
	border-radius: 50%;
	background-image: url(picture-1.png);
	background-size: 450px;
	margin-top: 50px;
	}
	#lato-1 {
	position: absolute;
	width: 500px;
	height: 53px;
	font-family: Lato;
	font-style: italic;
	font-weight: 500;
	font-size: 26px;
	line-height: 40px;
	margin-top: 15px;
	color: var(--white);
	}
	.heading {
	padding-top: 600px;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 70px;
	font-family: 'Zilla Slab', serif;
	color: var(--darkpink);
	font-size: 50px;
	}
	#arrow {
	color: var(--white);
	padding-top: 150px;
	padding-left: 210px;
	font-size: 40px;
	}
	/*SPOON*/
	#spoon-image {
	width: 511px;
	height: 638px;
	margin-left: 120px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 10%;
	position:  absolute;
	}
	#project-date {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 5px;
	background-color: var(--sage);
	margin-top: 750px;
	margin-left: 50px;
	margin-bottom: 30px;
	}

	#project-title {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 20px;
		background-color: var(--sage);
		margin-left: 50px;
	}

	#project-content {
		font-family: Inter;
		font-style: normal;
		font-weight: 300px;
		font-size: 16px;
		line-height: 20px;
		width: 630px;
		margin-left: 50px;
		margin-bottom: 50px;
		background-color: var(--sage);
	}
	/*KIRBY*/
	#game-image {
	width: 511px;
	height: 638px;
	margin-left: 120px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 10%;
	position:  absolute;
	/*width: 511px;
	height: 638px;
	margin-left: 60px;
	margin-top: 50px;
	margin-bottom: 50px;

	border-radius: 10%;*/
	}
	#project-date-1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 5px;
	background-color: var(--lightgreen);
	margin-top: 750px;
	margin-left: 50px;
	margin-bottom: 30px;
	}

	#project-title-1 {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 20px;
		background-color: var(--lightgreen);
		margin-left: 50px;
	}

	#project-content-1 {
		font-family: Inter;
		font-style: normal;
		font-weight: 300px;
		font-size: 16px;
		line-height: 20px;
		width: 630px;
		margin-left: 50px;
		margin-bottom: 50px;
		background-color: var(--lightgreen);
	}
	/*FOOTER*/
	#lora {
	font-family: Lora;
	/*font-style: italic;*/
	font-weight: normal;
	font-size: 40px;
	line-height: 33px;
	color: white;
	float: left;
	margin-top: 80px;
	margin-bottom: 20px;
	margin-left: 50px;
	display: none;
	}
	#footer-1 {
	padding-left: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 25%;
	height: 50%;
	font-size: 20px;
	color: white;
	}
	.brown-bg {
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
	line-height: 40px;
	}
	#footer-2 {
	padding-left: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 25%;
	height: 50%;
	color: white;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	}
	#footer-3 {
		opacity: 70%;
		color: white;
		font-size: 20px;
		text-align: center;
	}
	.white-font {
		color: var(--darkpink);
		line-height: 1.5;
		text-decoration: none;
		font-size: 20px;
	}
	.white-font:hover {
		color: white;
		line-height: 1.5;
		text-decoration: none;
		font-size: 20px;
	}
	.row-flexbox {
		display: flex;
		flex-direction: row;
	}
	#logo-image {
	width: 150px; 
	height: 150px; 
	padding-left: 20px;
	}
	#big-border {
	padding-top: 150px;
	}
	#flower-picture {
	text-align: center;
	margin-left: 260px;
	width: 30%;
	}
	#uc-border {
	margin-top: 30px;
	font-family: Lora;
	color: var(--darkpink);
	font-weight: 500;
	font-size: 50px;
	text-align: center;
	}
		/*About*/
	#about-heading {
		padding-top: 650px;
		padding-left: 70px;
		font-family: 'Zilla Slab', serif;
		color: var(--darkpink);
		font-size: 64px;
		position: absolute;
	}
	#about-p1 {
		padding-top: 800px;
		padding-left: 70px;
		width: 600px;
		font-family: Lato;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 39px;
		}
	#about-p2 {
		padding-top: 510px;
		padding-left: 70px;
		width: 600px;
		font-family: Lato;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 39px;
	}
	#question {
		position: absolute;
		width: 455px;
		height: 84px;
		left: 105px;
		top: 1060px;
		font-family: Six Caps;
		font-style: normal;
		font-weight: normal;
		font-size: 64px;
		line-height: 84px;
		text-align: center;
	}
	#rectangle-1 {
		position: absolute;
		width: 524px;
		height: 117px;
		left: 70px;
		top: 1050px;
		background: var(--lightpink);
		border-radius: 50px;
	}
	#rectangle-2 {
		position: absolute;
		width: 524px;
		height: 117px;
		left: 160px;
		top: 1100px;
		background: var(--sage);
		border-radius: 50px;
	}
	#rectangle-3 {
		position: absolute;
		width: 524px;
		height: 219px;
		left: 70px;
		top: 1300px;
		background: var(--sage);
		border-radius: 50px;
	}
	#rectangle-4 {
		position: absolute;
		width: 524px;
		height: 219px;
		left: 160px;
		top: 1250px;
		background: var(--lightpink);
		border-radius: 50px;
	}
	#question-1 {
		position: absolute;
		width: 431px;
		height: 180px;
		left: 205px;
		top: 1270px;
		font-family: Source Serif Pro;
		font-size: 36px;
		line-height: 45px;
		text-align: center;
	}
	#about-image {
		position: absolute;
		width: 440px;
		height: 540px;
		left: 170px;
		top: 250px;
		right: 295px;
		background: url(101845394_3229571050440425_7232624505833652224_n.jpg);
		border-radius: 20px;
	}
}
